body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color:#666666;
}
fieldset {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background: #F5F5F5;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #AAA;
}

fieldset h1 {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    margin-top: -30px;
    border-bottom: 1px dotted #DDD;
}
fieldset input[type=file] {
    border: 1px solid #DDD;
    padding: 6px;
    background: #FFF;
    border-radius: 5px;
}
fieldset input[type=button] {
    border: none;
    padding: 10px;
    background: #61BAE4;
    border-radius: 5px;
    color: #FFF;
}

fieldset #progressContainer {
    width: 95%;
}
fieldset progress {
    width: 85%;
}

fieldset #speed {
    float: right;
}

#messages{
    padding: 5px;
    font-size: 12px;
}

